.col-xs-12.col-md-11.center-block.no-float
	.card.large-padding
		=link_to  create_product_path, class:"btn btn-info medium" do
			%i.mdi-action-book
			Crear Producto
		.top-space

			.col-md-3.col-xs-12.inline-block.no-padding.in-top
				=render current_user.products
			.col-md-9.col-xs-12.inline-block
				=render "payments/index"
