%header.green.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "tiendus.png",width:"100"
			%h1.white-text.ultra-big.kostic
				%strong Ofrece tus productos digitales a tu audiencia
		.col-md-5.inline-block
			= image_tag "mono.png"
