.modal{style:"display:block;"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.close-modal X
        %h3.green-text.modal-title Paga con tu targeta
      =form_tag "/payments/cards", method: :post, class:"top-space" do
        .modal-body
          .form-group.top-space
            =email_field_tag :email,nil, class:"form-control floating-label",
              placeholder: "Correo electronico", require: "required"

          .form-group.top-space
            =text_field_tag :number,nil, class:"form-control floating-label",
              placeholder: "Número de targeta", require: "required"
            %p.be-small Fecha de Expiración
            .col-xs-6.col-sm4.col-md-3.no-padding.inline-block
              =select_tag :expire_month, options_for_select((1..12).to_a) ,class:"form-control"
            .col-xs-6.col-sm4.col-md-3.no-padding.inline-block
              =select_tag :expire_year, options_for_select((2015..2022).to_a) ,class:"form-control"
          .form-group.top-space
            =number_field_tag :cvv2,nil, class:"form-control floating-label",
              placeholder: "CVV (reverso de la targeta)", require: "required"

          %p.top-space.green-text * Los datos de tu targeta no son almacenados    


        .modal-footer
          =content_tag :button, type: :submit, class:"btn btn-primary" do
            Pagar
